h1{
text-align: center;
font-family:impact;
}
 nav{text-align: center;}
 h5{
    text-align: center;
 }
p{
   text-align: center;}
   header{
      background-color: rgb(255, 0, 255);}
      footer{
         background-color: rgb(255, 0, 242);
      }
       p{
         color: white;
       }
       a{
         text-decoration:none;
       }
       #porla{
         color: black;
       }
       *{
        margin: 0%;
        padding: 0%;

       }
      div{
        width: 400px;
        height: 500px;
        background-color: rgb(255, 0, 242);
        margin: 50px auto;
        text-align: center;

      }
      ol{display: inline-block;}
      #h2doroteiro{
        border: 10px solid black;
        border-radius: 80px;
      }
        h2{
          text-align: center;
        }
    